.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin-top: calc(0px - 2.8rem);
    padding: 1rem;
}

.content {
    width: 100%;
    display: flex;
    flex-direction: column;
    max-width: 46rem;
}

.content form {
    display: flex;
    gap: 0.5rem;
    margin-bottom: 4rem;
}

.content form input {
    flex: 1;
    padding: 1rem;
    border-radius: 8px;
    border: 1px solid var(--gray-700);
    background-color: var(--gray-500);
    color: var(--gray-200);
}

.content form input:focus {
    outline: 1px solid var(--purple-700);
}

.content main header {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-bottom: 1.5rem;
}

.count {
    display: flex;
    gap: .5rem;
}

.createdTasks {
    color: var(--blue-500);
    font-size: .875rem;
}

.done {
    color: var(--purple-500);
    font-size: .875rem;
}

.emptyList {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    border-top: 1px solid var(--gray-400);
    padding-top: 4rem;
}

.emptyList span {
    color: var(--gray-300);
    line-height: 140%;
}

.taskList {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: .75rem;
}

.sort {
    align-self: flex-end;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    color: var(--gray-300);
    cursor: pointer;
    background-color: transparent;
    padding: .2rem;
    border-radius: 4px;
}

.sort:hover {
    background-color: var(--gray-400);
    color: var(--purple-700);
}

.sort.sortActive {
    color: var(--purple-700);
}

.removeAll {
    align-self: flex-end;
    border: none;
    color: var(--gray-300);
    border-radius: 4px;
    cursor: pointer;
    background-color: transparent;
    font-size: .8rem;
    padding: .4rem;
}

.removeAll:hover {
    color: var(--danger);
}